.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background: var(--backdrop-color);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    padding: 40px 0 40px 0;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 528px;
    height: 501px;

    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__button-close {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 3px 12px 543px 490px;

    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;
    background-color: var(--white-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover {
    fill: var(--link-color);
}

.modal__svg-close {
    width: 18px;
    height: 18px;
}

.modal-form__title {
    text-align: center;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;

    color: var(--main-color);
}

.modal-form__label {
    position: relative;
}

label.modal-form__label {
    margin-bottom: 10px;
}

input.modal-form__input:hover,
input.modal-form__input:focus {
    border-color: var(--link-color);
    outline: transparent;
}

input.modal-form__input {
    position: relative;

    padding-left: 34px;
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    margin-left: 12px;

    width: 18px;
    height: 18px;
}

.modal-form__label:hover .modal-form__icon,
.modal-form__label:focus-visible .modal-form__icon {
    fill: var(--link-color);
}

.modal-checkbox {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.modal-checkbox__input {
    display: none;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--secondary-color);
}

label.modal-checkbox__label {
    margin-bottom: 0;
}

input.modal-checkbox__label {
    width: 16px;
    height: 15px;
}

label.modal-checkbox__label {
    display: block;
    align-items: center;
    justify-content: center;

    user-select: none;
}

.modal__btn {
    margin-top: 30px;
    font-family: inherit;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--white-color);
    background: var(--link-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--link-color);
    cursor: pointer;
}

.modal-checkbox__link-terms {
    font-size: 14px;
    line-height: 1.71;

    text-decoration-line: underline;
    color: var(--link-color);
}

textarea:hover,
textarea:focus {
    border-color: var(--link-color);
    outline: transparent;
}

.modal-checkbox__icons-check {
    width: 16px;
    height: 15px;
}

.modal-checkbox__icon-check {
    opacity: 0;
}

.modal-checkbox__input:checked+.modal-checkbox__icons-check .modal-checkbox__icon-check {
    opacity: 1;
}

.modal-checkbox__input:checked+.modal-checkbox__icons-check .modal-checkbox__icon-uncheck {
    opacity: 0;
}

.modal-checkbox__span {
    margin-left: 8.38px;
}

input {
    padding-left: 16px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

label {
    display: flex;
    flex-direction: column;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: var(--secondary-color);
}

input {
    margin-top: 4px;

    width: 410px;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

textarea {
    padding-top: 12px;
    padding-left: 16px;
    margin-top: 4px;
    margin-bottom: 20px;

    width: 428px;
    height: 120px;
    resize: none;

    font-family: Roboto;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__icon-check,
.modal-checkbox__icon-uncheck {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}